// https://www.npmjs.com/package/font-face-generator

@import '../../node_modules/font-face-generator/mixin.scss';

@include font-face(
	$fonts: (
		'VCR OSD mono': (
			400: 'VCR-OSD-mono'
		),
		// 'pixelsix': (
		// 	400: 'pixelsix'
		// ),
		// 'cubicfive': (
		// 	400: (
		// 		normal: 'cubicfive-regular',
		// 		italic: 'cubicfive-italic'
		// 	),
		// 	700: 'cubicfive-bold'
		// )
	),
	$types: 'woff2' 'woff'
);

@include font-face(
	$fonts: (
		'broken OS webdings': (
			400: 'broken-OS-webdings'
		)
	),
	$types: 'woff'
);
